	

		</div><!-- /#page -->
		
			<div id="footer">
				<ul>
					<li><a href="<%= page.footer.devs.link %>"><%= page.footer.devs.text %></a><li>
					<li><a href="#">API-CRAFT</a><li>
					<li><a href="#">GitHub</a><li>
					<li><a href="#">Twitter</a><li>
					<li><a href="#">Facebook</a><li>
				</ul>	
			</div><!-- /#footer -->	
	</body>
	
	<script type="text/javascript"> window.config = { proxyUrl: "<%= proxyUrl %>" }; </script><!-- import environment vars from node -->
	
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script><!-- duh -->
	
	<script type="text/javascript" src="js/prism.js"></script><!-- pretty code :) -->
	<script type="text/javascript" src="js/spin.min.js"></script><!-- giterdone -->
	<script type="text/javascript" src="js/functions.js"></script><!-- giterdone -->
</html>