<!doctype html>
<html>
	<head>
		<title><%= page.name %></title>
		
		
		<script type="text/javascript" src="//use.typekit.net/ejt3ecd.js"></script><!-- use some real fonts -->
		<script type="text/javascript" >try{Typekit.load();}catch(e){}</script>
		
		<meta name="viewport" content="width=device-width, initial-scale=.65"><!-- Makes iPhones behave better -->
		
		<link rel="stylesheet" type="text/css" href="css/reset.css" /> <!-- normalize browser styles -->
    	<link rel="stylesheet" type="text/css" href="css/prism.css" /><!-- pretty code :) -->
		
    	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" /><!-- use a fancy map -->
		<!--[if lte IE 8]> <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" /> <![endif]-->    	
		<link rel="stylesheet" type="text/css" href="css/styles.css" /><!-- the main stylesheet, compiled @runtime by less-middleware -->
		<link rel="stylesheet" type="text/css" href="css/agenda.css" />

		
	</head>
	<body>
		<div id="page">
			<div id="header">
					<div class="bracket left">{</div>
					<div class="content">
						<h1>API-CRAFT</h1>
						<h2>CONFERENCE</h2>
						<p><a href="#">July 29-31, 2013</a> - <a href="#">1555 Broadway St. Detroit, MI, USA</a></p>
						<a href="http://apicraft.eventbrite.com/" class="button register">register</a>

						<div class="thank_you">
							<h3>Thank you for registering!</h3>
							<p>Please check your email for your ticket.</p>
							<p class="fineprint">If you need to resend the email or make any changes, head on over to <a href="http://apicraft.eventbrite.com/">Eventbrite</a>.</p>
						</div>
					</div>
					<div class="bracket right">}</div>
				
			</div><!-- /#header -->