<!doctype html>
<html>
	<head>
		<title><%= page.name %></title>
		
		
		<script type="text/javascript" src="//use.typekit.net/ejt3ecd.js"></script><!-- use some real fonts -->
		<script type="text/javascript" >try{Typekit.load();}catch(e){}</script>
		
		<meta name="viewport" content="width=device-width, initial-scale=.65"><!-- Makes iPhones behave better -->
		
		<link rel="stylesheet" type="text/css" href="css/reset.css" /> <!-- normalize browser styles -->
			
		<link rel="stylesheet" type="text/css" href="css/styles.css" /><!-- the main stylesheet, compiled @runtime by less-middleware -->
		

		
	</head>
	<body>
		<div id="page">
			<div id="header">
					<div class="bracket left">{</div>
					<div class="content">
						<h1>API-CRAFT</h1>
						<h2>CONFERENCE</h2>	
					</div>
					<div class="bracket right">}</div>
				
			</div><!-- /#header -->