<!DOCTYPE html>
<html>
	<head>
		<title><%= page.name %></title>
		
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link href="/css/fonts/source_sans_pro200+300+400+700.css" rel="stylesheet"> <!-- fonts -->
		
		<meta name="viewport" content="width=device-width, initial-scale=.65"><!-- Makes iPhones behave better -->
		
		<link href="/css/pure-min.css" rel="stylesheet"> <!-- purecss.io framework by yui -->

    	<link href="/css/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet"> <!-- icons, yo -->
		<link rel="stylesheet" type="text/css" href="css/prism.css" /><!-- pretty code :) -->
		
    	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" /><!-- use a fancy map -->
		<!--[if lte IE 8]> <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" /> <![endif]-->    	
		<link rel="stylesheet" type="text/css" href="css/styles.css" /><!-- the main stylesheet, compiled @runtime by less-middleware -->

		
	</head>
	<body>
		<div id="page" class="pure-g">
			<div id="header" class="pure-u-1">
				<div class="wrapper">
					<div class="bracket left">{</div>
					<div class="content">
						<h1>API-CRAFT</h1>
						<h2>CONFERENCE</h2>
						<p class="theme">Where do we lead the APIs of tomorrow?</p>
						<p>Mon July 28 - Wed July 30, 2014 &nbsp;&nbsp;<a href="http://www.google.com/calendar/event?action=TEMPLATE&text=API%20Craft%20Conference&dates=20140729T130000Z/20140730T210000Z&details=From%20API%20Design%20to%20App%20Development%0AMore%20info%20and%20daily%20schedule%20at%20apicraft.org%0A%0AOr%20register%20now%3A%20%0Ahttp%3A%2F%2Fwww.eventbrite.com%2Fe%2Fapi-craft-conference-2014-tickets-7656224975&location=Detroit%2C%20MI&trp=true&sprop=API%20Craft%20Conference&sprop=name:http%3A%2F%2Fapicraft.org" target="_blank"><i class="fa fa-calendar"></i></a><br/>Port Detroit - 130 E. Atwater Street<br/></>Detroit, MI, USA </p>
						

						<div class="thank_you">
							<h3>Thank you for registering!</h3>
							<p>Please check your email for your ticket.</p>
							<p class="fineprint">If you need to resend the email or make any changes, head on over to <a href="http://apicraft.eventbrite.com/">Eventbrite</a>.</p>
							
						</div>
						<p class="register"><a href="http://apicraft2014.eventbrite.com/?aff=fromapicraftorg" class="pure-button pure-button-primary">Register Now <i class="fa fa-chevron-right"></i></a></p>
							
					</div>
					<div class="bracket right">}</div>
				</div>
			</div><!-- /#header -->