<!doctype html>
<html>
	<head>
		<title>API Craft Conference</title>
		<meta name="viewport" content="width=device-width; initial-scale=.65;">
		
		<link rel="stylesheet" type="text/css" href="css/reset.css" /> <!-- normalize styles -->
				
    	<script type="text/javascript"> window.config = { proxyUrl: "<%= proxyUrl %>" }; </script>

		<script type="text/javascript" src="//use.typekit.net/ejt3ecd.js"></script><!-- use a real font -->
		<script type="text/javascript" >try{Typekit.load();}catch(e){}</script>
		
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		
		<script type="text/javascript" src="js/functions.js"></script>
		
		<link rel="stylesheet" type="text/css" href="css/styles.css" /><!-- our main stylesheet -->
		
	</head>
	<body>
		<div id="page">
			<div id="header">
					<div class="bracket left">{</div>
					<div class="content">
						<h1>API-CRAFT</h1>
						<h2>CONFERENCE</h2>
						<p><a href="#">July 29-31, 2013</a> - <a href="#">1555 Broadway St. Detroit, MI, USA</a></p>
						<a href="#" class="button">register</a>
					</div>
					<div class="bracket right">}</div>
				
			</div><!-- /#header -->
			<div id="api">
				<div class="resource">
					<h3>/goals</h3>
					<div class="verb">
						<span class="get">get</span>
						<code>/goals</code>
						<p class="description">Goals and Philosophy</p>
					</div><!-- /.verb -->
					<div class="rendered"></div><!-- /.rendered -->
				</div><!-- /.resource -->
				
				<div class="resource">
					<h3>/questions</h3>
					<div class="verb">
						<span class="post">post</span>
						<code>/questions</code>
						<p class="description">Q's about the event</p>
					</div><!-- /.verb -->
					<div class="verb">
						<span class="get">get</span>
						<code>/questions</code>
						<p class="description">Ask a Question</p>
					</div><!-- /.verb -->
					<div class="rendered"></div><!-- /.rendered -->
				</div><!-- /.resource -->	
			</div><!-- /#api -->
			
			<div id="footer">
				<ul>
					<li><a href="#">Non-Developers</a><li>
					<li><a href="#">API-CRAFT</a><li>
					<li><a href="#">GitHub</a><li>
					<li><a href="#">Twitter</a><li>
					<li><a href="#">Facebook</a><li>
				</ul>	
			</div><!-- /#footer -->
		</div><!-- /#page -->
		
		
	</body>
</html>