<ul>
						<li><a href="https://github.com/apicraft/detroit2013/wiki/_pages" class="github">2013 Proceedings</a></li>
						<li><a href="https://github.com/apicraft/detroit2014/wiki/_pages" class="github">2014 Proceedings</a></li>
						<li><a href="https://github.com/apicraft/detroit2015/wiki/_pages" class="github">2015 Proceedings</a></li>
						<li><a href="https://groups.google.com/forum/#!forum/api-craft" class="google_groups">Google Group</a></li>
						<li><a href="https://www.facebook.com/groups/apicraft" class="facebook">Facebook Group</a></li>
						<li><a href="https://github.com/apicraft">GitHub</a><li>
						<li><a href="https://twitter.com/apicraftglobal">@apicraftglobal</a><li>
						<li><a href="https://twitter.com/search?q=%23apicraft&src=hash">#apicraft</a><li>
					</ul>
