<ul>
						<li><a href="https://github.com/apicraft/detroit2013/wiki/_pages" class="github">Proceedings</a></li>
						<li><a href="https://groups.google.com/forum/#!forum/api-craft" class="google_groups">Google Group</a></li>
						<li><a href="https://www.facebook.com/groups/apicraft" class="facebook">Facebook Group</a></li>
						<li><a href="http://storify.com/lindybrandon/api-craft-detroit-day-one-in-the-books" class="blog">@lindybrandon's Recap
						</a></li>
						<li><a href="https://github.com/apicraft">GitHub</a><li>
						<li><a href="https://twitter.com/search?q=%23apicraft&src=hash">#apicraft</a><li>
						<li><a href="/conferences/detroit2013">Detroit 2013 Recap</a><li>
					</ul>