body {
	font-size: 1.5em;
	background: #fff;
	font-weight: 100;
	color: #707077;
	text-shadow: 0 -1px 0 #000;
	strong {color: #555;}
	@media (-webkit-min-device-pixel-ratio : 2) {font-size: 2.5em;}
}

h1, h2, h3, h4, h5, h6 {text-transform: uppercase; color: #222; font-weight: 400;}
h1 { 
	font-size: 5em; 
	@media (-webkit-min-device-pixel-ratio : 2) {font-size: 4em;}
	line-height: .8em; 
	font-weight: 700; 
	}
#map {
	height: 25em;
	.leaflet-popup-content {
		text-shadow: none;
		h4{
			text-transform: none; 
			font-size: 2em; 
			font-weight: 700; 
		
			}
		}
	}
h2 {font-size: 2em; font-weight: 700;}
h3 {font-size: 1.5em; color: #444; margin: 0 0 1em 0;}
p {margin: 1em 0;}
ul {margin: 0 0 0 2em; list-style-type: square;}

a {text-decoration: none; color: #b30209; font-weight: 400;}
a:hover {text-decoration: underline;}
.fineprint {font-size: .5em;}
blockquote {
	font-family: serif; 
	margin-left: 2em; margin-right: 2em; 
	color: #aaa; 
	font-style: italic;
	text-shadow: 0 -1px 0 #888;
	line-height: 1.8em;
	}

#page {
	padding: 2em 0;
	#header {
		padding: .5em 3em 0em 3em;
			@media (max-width: 700px), (-webkit-min-device-pixel-ratio : 2) {padding: .5em 1em 0 1em;}
		}
	.section {
		padding: .5em 3em 1em 3em;
		@media (max-width: 700px), (-webkit-min-device-pixel-ratio : 2) {padding: .5em 1em 0 1em;}
		&.even {
			background-color: #f8f8f8;
			border-bottom: 2px solid #f0f0f0;
		}
		}
	background: #fff;
	.register {
		p {margin-bottom: 2em;}
		button {
			font-size: .8em;
			@media (max-width: 700px), (-webkit-min-device-pixel-ratio : 2) {font-size: 1.4em }
			padding: 1em;
			}
		label {font-family: Arial, Helvetica, sans-serif;}
		ol {
			@media (max-width: 700px), (-webkit-min-device-pixel-ratio : 2) {text-align: center;}
			li {
				list-style-type: decimal;
					@media (max-width: 700px), (-webkit-min-device-pixel-ratio : 2) {list-style-type: none;}
				margin: 1em;
				min-height: 5em;
			}
		}
	}
}


button::-moz-focus-inner {
  border: 0; }

/* clean gray
*******************************************************************************/
.buttonBG(@light: #eee, @dark: #ccc){
	background-color: @light;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @light), color-stop(100%, @dark));
	background-image: -webkit-linear-gradient(top, @light, @dark);
	background-image: -moz-linear-gradient(top, @light, @dark);
	background-image: -ms-linear-gradient(top, @light, @dark);
	background-image: -o-linear-gradient(top, @light, @dark);
	background-image: linear-gradient(top, @light, @dark);	
}


button{
		
	text-align: center;
	border-radius: .5em;
	padding: .5em 1em !important;
	
	img {
		height: 30px;
		@media (max-width: 700px), (-webkit-min-device-pixel-ratio : 2) {height: 60px; }
	}
	&.clean-gray {
	  .buttonBG(#eee, #ccc);
	  border: 1px solid #ccc;
	  border-bottom: 1px solid #bbb;
	 
	  color: #333;
	  padding: 8px 0;
	  text-shadow: 0 1px 0 #eee;
	  
	  	&.paynow {
			color: #fff;
			text-shadow: 0 -1px 0 #666;
		 	.buttonBG(#d1676b, #b30209);
		 	&:hover { .buttonBG(#b30209, #860207); }
		}
		&:hover {
		    .buttonBG(#ddd, #bbb);
		    border: 1px solid #bbb;
		    border-bottom: 1px solid #999;
		    cursor: pointer;
		    text-shadow: 0 1px 0 #ddd; }
		  &:active {
		    border: 1px solid #aaa;
		    border-bottom: 1px solid #888;
		    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eee;
		    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eee; 
		}
	}
}
  


	
