.button{padding:.3em .6em .1em .6em;font-weight:400;}
body{background:url('../images/noisy_grid.png') top left;color:#034001;text-shadow:0px 1px #fff;font-weight:200;font-size:1.2em;}@media (-webkit-min-device-pixel-ratio:2) and (orientation:portrait){body{width:100%;font-size:2em;}}
h1,h2,h3,h4,h5,h6{font-weight:200;}
p{padding-bottom:1em;}
#header{border-bottom:1px solid #034001;background:#eee;padding:1em 0;background:url('../images/noisy_grid_dark.png') top left;width:100%;margin-bottom:1em;}@media (max-width:700px),(-webkit-min-device-pixel-ratio:2) and (orientation:portrait){#header{text-align:center;}}#header h1{font-size:5em;text-shadow:0px 2px #000000,0px -1px #666666;line-height:1em;color:#eee;}#header h1 strong{font-weight:700;}
#header h1 i{font-style:normal;}
#header h2{color:#d66b1c;font-size:2em;text-shadow:none;}
#page h3{font-size:1.5em;font-weight:400;}
#page .section{margin:2%;padding:2%;width:42%;background-color:#fff;border-radius:1em;float:left;}#page .section ul{list-style-type:disc;margin-left:2em;}
#page .section #map{height:25em;}
@media (max-width:700px),(-webkit-min-device-pixel-ratio:2){#page .section{width:90%;padding:2%	float: none;margin:2em 4%;}}
#footer{background-color:rgba(0, 0, 0, 0.7);padding:1em 0 5em 0;color:#d66b1c;text-shadow:0px -1px #000000;float:left;clear:both;width:100%;margin-top:1em;text-align:center;}
#header,#page,#footer{padding-left:1em;padding-right:1em;min-width:620px;}@media (max-width:700px),(-webkit-min-device-pixel-ratio:2){#header,#page,#footer{padding-left:0;}}
.leaflet-popup-content h1{font-weight:700;font-size:1.4em;}
@media (max-width:640px),handheld{}
