@import 'grid.less';

@columns: 8;
@gutter-width: 0;

body {
	font-family: "source-sans-pro", Arial, sans-serif;
	font-size: .9em;
	
}
.wf-loading {visibility: hidden}
#page {
	font-weight: 400;
	width: 480px;
	color: #333;
	
	margin: 0 auto;
	float: none;
	height: 100px;
	
	@media screen and (min-width: 640px) { 
		width: 800px; 
		}
  } 

.wf-active #page {
	font-size: 1.2em;
	@media screen and (min-width: 640px) {
		font-size: 1.5em;
		}
	}

	#header {
		.column(8);
		.bracket{ 
			
				.column(1);
				font-size: 13em;
				line-height: .5em;
				margin-top: .3em;
				font-weight: 400;
			&.left {text-alight: right;}
			}
		text-align: center;
		.content {
			.column(6);
			font-size: .8em;
			margin-top: 3.5em;
			@media screen and (min-width: 640px) {
				margin-top: 2em;
				font-size: 1em;
				}
			h1 {font-weight: 640; font-size: 5em; line-height: .3em; margin-top: .5em;}
			h2 {font-weight: 200; font-size: 4.3em; line-height: .7em; margin-top: .3em; color: #808080;}
			p {
				margin-bottom: 3em;
				@media screen and (min-width: 640px) {
					margin-bottom: 1.4em;
					}
				}
			a.button {
				width: 50%;
				font-size: 3em;
				font-weight: 700;
				margin: .4em;
				background: #8cc63f;
				border-radius: .2em;
				padding: .2em 1.5em;
				letter-spacing: .1em;
				color: #fff;
				border: none;
				cursor: pointer;
				@media screen and (min-width: 640px) {
					font-size: 2em;
					padding: .1em 2.5em;
					font-weight: 400;
					}
			}
		}
	}

	#api {
		.column(8);
		margin-top: 2em;
		font-size: 1.2em; 
		@media screen and (min-width: 640px) { font-size: 1em; }
		.resource{
			.column(8);
			margin-left: 0;
			margin-top: 1em;
			
			h3 {.column(8);}
			.verb {
				.column(8);
				margin-left: 0;
				margin-top: .2em;
				cursor: pointer;
				border: 1px solid #ccc;
				&.hover {border-color: #888; background: #ffffee;}
				.post, .get {
					.column(1);
					font-weight: 700; 
					text-align: center;
					margin-left: 0;
					padding: .2em 0;
					text-transform: uppercase;
					}
				.get {
					background: #a9ddf3;
					color: #1d7ba2;	
					}
				.post {
					background: #fcd4a5;
					color: #c68a45;
				}
				code {
					.column(3.8);
					padding-top: .2em;
					padding-left: .4em;
					}
				p {
					.column(3); 
					font-size: .8em;
					text-align: right;
					padding-top: .4em;
					color: #888;
					}
				
			}
			.response {
				.column(8);
				background-color: #888;
				overflow-x: hidden;
				border: 1px solid #ccc;
				border-top: none;
				display: none;
				p.request_url {
					.column(7);
					font-family: "source-code-pro", Courier, monospace;
					font-size: .8em;
					padding: .3em .5em;
					
					color: #dedede;
					}
				p.raw_response { 
					.column(.7); 
					text-align: right; 
					font-size: .8em;
					padding: .3em 0;
					
					a {
						background-color: #eee;
						padding: 0 .5em;
						text-decoration: none;
						border-radius: .3em;
						&:hover{background: #ddd;};
						}
					}
				pre {
					
					.column(7.5);
					border-top: 1px solid #ccc;
					font-size: .8em;
					max-height: 20em;
					@media screen and (min-width: 640px) { .column(7.65); }
						
					}
			}
			.rendered {
				.column(8);
				font-size: .9em;
				
				display: none;
			}
		}
	}
	#footer {
		.column(8);
		margin-top: 2em;
		
		font-size: .9em;
		background-color: #888;
		color: #fff;
		ul{padding: 1em 1em 5em 1em;}
		li {
			a {color: #fff;}
			display: inline; 
			padding: .2em;
			}
	}
	