<ul>
	<% for(var i=0; i<list.length; i++){ 

		if(list[i].answer){ %>
			<li><%= list[i].question; %></li>

			<% if(list[i].answer.length > 0){ %>
				<blockquote><%= list[i].answer; %></blockquote>
			<% } %>
		<% } else { %>
			<li><%= list[i]; %></li>
		<% } %>

	<% } %>
</ul>