<% include header %>
<div id="content">

	<div class="goals">
		<div class="rendered">
			<div class="content">
			<ul>
				<li>Goal</li>
				<li>Goal</li>
				<li>Goal</li>
			</ul>
			</div>
		</div>
	</div>

	<div class="guidelines">
		<div class="rendered">
			<div class="content">
				<ul>
					<li>Guideline</li>
					<li>Guideline</li>
					<li>Guideline</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="attendees">
		<div class="rendered">
			<div class="content">
				<ul>
					<li>
						<img src="images/brian.jpg"/>
						<h2>First Last Name</h2>
						<p><a href="#">@twitter</a>, <a href="#">github.com/handle</a></p>
						<p>City</p>
					</li>
					<li>
						<img src="images/kevin.jpg"/>
						<h2>First Last Name</h2>
						<p><a href="#">@twitter</a>, <a href="#">github.com/handle</a></p>
						<p>City</p>
					</li>
					<li>
						<img src="images/alan.jpg"/>
						<h2>First Last Name</h2>
						<p><a href="#">@twitter</a>, <a href="#">github.com/handle</a></p>
						<p>City</p>
					</li>


					<li>
						<img src="images/brian.jpg"/>
						<h2>First Last Name</h2>
						<p><a href="#">@twitter</a>, <a href="#">github.com/handle</a></p>
						<p>City</p>
					</li>
					<li>
						<img src="images/kevin.jpg"/>
						<h2>First Last Name</h2>
						<p><a href="#">@twitter</a>, <a href="#">github.com/handle</a></p>
						<p>City</p>
					</li>
					<li>
						<img src="images/alan.jpg"/>
						<h2>First Last Name</h2>
						<p><a href="#">@twitter</a>, <a href="#">github.com/handle</a></p>
						<p>City</p>
					</li>
					
				</ul>
			</div>
		</div>
	</div>

	<div class="agenda">
		<div class="rendered">
			<div class="content">
				<div class="column times">
					<div class="row_30 spacer"></div>
					<div class="row_60 time">8:00 am</div>
					<div class="row_60 time">9:00</div>
					<div class="row_60 time">10:00</div>
					<div class="row_60 time">11:00</div>

					<div class="row_10 spacer">Break</div>

					<div class="row_60 time">12:00 pm</div>
					<div class="row_60 time">1:00</div>
					<div class="row_60 time">2:00</div>
					<div class="row_60 time">3:00</div>
					<div class="row_60 time">4:00</div>
					<div class="row_60 time">5:00</div>

					<div class="row_10 spacer">Break</div>

					<div class="row_60 time">6:00</div>
					<div class="row_60 time">6:00</div>
					<div class="row_60 time">8:00</div>
					<div class="row_60 time">9:00</div>
				</div>
				<div class="column">
					<div class="row_30 header">Monday</div>
					<div class="row_300 spacer">Traveling</div>
					<div class="row_240 spacer">Traveling</div>
					<div class="row_240">Travel to Detroit...</div>
					<div class="row_300">Pre-party @Forans</div>
				</div>
				<div class="column">
						<div class="row_30 header">Tuesday</div>
						<div class="row_60">Registration</div>
						<div class="row_90">Opening Session</div>
						<div class="row_240">Morning Sessions</div>
						<div class="row_60">Lunch</div>
						<div class="row_240">Afternoon Sessions</div>
						<div class="row_60">Evening News</div>
						<div class="row_260">After Party @Madison Roof</div>
				</div>
				<div class="column">
						<div class="row_30 header">Wednesday</div>
						<div class="row_30 spacer">Late Start...</div>
						<div class="row_90">Morning Announcements</div>
						<div class="row_240">Morning Sessions</div>
						<div class="row_60">Lunch</div>
						<div class="row_240">Afternoon Sessions</div>
						<div class="row_90">Closing Session</div>
						<div class="row_260">After Party @Drive</div>
				</div>
				
			</div>
		</div>
	</div>

	<div class="parties">
		<div class="rendered">
			<div class="content">
				<div class="party">
					<h2>Ping Pong Faceoff</h2>
					<p class="time">Wednesday 6:00pm - 9:00pm

						<small><a href="https://maps.google.com/maps?q=1441+Woodward+Avenue,+Detroit,+MI&amp;hl=en&amp;sll=45.00109,-86.270553&amp;sspn=7.893351,21.357422&amp;oq=1441+Wood&amp;hnear=1441+Woodward+Ave,+Detroit,+Michigan+48226&amp;t=m&amp;ie=UTF8&amp;hq=&amp;ll=42.341163,-83.048744&amp;spn=0.019032,0.032101&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
					</p>
					<div class="hero">
						<img src="http://drive-detroit.com/wp-content/gallery/drive-event-tent/img_0238.jpg" alt="Party Hero Image" />
					</div>
					<div class="party_map">
						<iframe width="375" height="285" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=1441+Woodward+Avenue,+Detroit,+MI&amp;hl=en&amp;sll=45.00109,-86.270553&amp;sspn=7.893351,21.357422&amp;oq=1441+Wood&amp;hnear=1441+Woodward+Ave,+Detroit,+Michigan+48226&amp;t=m&amp;ie=UTF8&amp;hq=&amp;ll=42.341163,-83.048744&amp;spn=0.019032,0.032101&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
					</div>
				</div>	
					
				<div class="party">
					<h2>Ping Pong Faceoff</h2>
					<p class="time">Wednesday 6:00pm - 9:00pm

						<small><a href="https://maps.google.com/maps?q=1441+Woodward+Avenue,+Detroit,+MI&amp;hl=en&amp;sll=45.00109,-86.270553&amp;sspn=7.893351,21.357422&amp;oq=1441+Wood&amp;hnear=1441+Woodward+Ave,+Detroit,+Michigan+48226&amp;t=m&amp;ie=UTF8&amp;hq=&amp;ll=42.341163,-83.048744&amp;spn=0.019032,0.032101&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
					</p>
					<div class="hero">
						<img src="http://drive-detroit.com/wp-content/gallery/drive-event-tent/img_0238.jpg" alt="Party Hero Image" />
					</div>
					<div class="party_map">
						<iframe width="375" height="285" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=1441+Woodward+Avenue,+Detroit,+MI&amp;hl=en&amp;sll=45.00109,-86.270553&amp;sspn=7.893351,21.357422&amp;oq=1441+Wood&amp;hnear=1441+Woodward+Ave,+Detroit,+Michigan+48226&amp;t=m&amp;ie=UTF8&amp;hq=&amp;ll=42.341163,-83.048744&amp;spn=0.019032,0.032101&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="sessions">
		<div class="rendered">
			<div class="content">
				<table>
					<tr>
						<td class="spacer"></td>
						<td class="header">Breakout 1</td>
						<td class="header">Breakout 2</td>
						<td class="header">Breakout 3</td>
						<td class="header">Breakout 4</td>
					</tr>
					<tr>
						<td class="header">Tuesday<br />10:00am</td>
						<td>Organizer's Name<br/>@twitter</td>
						<td>Organizer's Name<br/>@twitter</td>
						<td>Organizer's Name<br/>@twitter</td>
						<td>Organizer's Name<br/>@twitter</td>
					</tr>
					<tr>
						<td class="header">Tuesday<br />10:00am</td>
						<td>Organizer's Name<br/>@twitter</td>
						<td>Organizer's Name<br/>@twitter</td>
						<td>Organizer's Name<br/>@twitter</td>
						<td>Organizer's Name<br/>@twitter</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="hotels">
		<div class="rendered">
			<div class="content">
				<div id="hotel_map">Map</div>
			</div>
		</div>
	</div>

	<div class="questions">
		<div class="rendered get">
			<div class="content">
				<ul>
					<li>Will there really not be any corporate logos?
						<blockquote>Nope, none whatsoever. </blockquote>
					</li>
					<li>Will there be vegan options on the menu for the lunches and other food you’ll be providing. </li>
					<li>Are we RESTful?</li>
				</ul>
			</div>
		</div>

		<div class="rendered post">
			<div class="content">
				<ul>
					<h3>Question Posted Successfully</h3>
					<p>Will there be vegan options on the menu for the lunches and other food you’ll be providing. </p>
				</ul>
			</div>
		</div>
	</div>
	
</div><!-- /#content -->
<% include footer %>