	

		</div><!-- /#page -->
		

			<div id="footer">
				<ul>
					<li><a href="https://github.com/apicraft/detroit2013/wiki/_pages" class="github">Proceedings Wiki</a></li>
					<li><a href="http://bit.ly/16w6rhk" class="book">Download Proceedings</a></li>
					<li><a href="https://groups.google.com/forum/#!forum/api-craft" class="google_groups">Google Group</a></li>
					<li><a href="https://www.facebook.com/groups/apicraft" class="facebook">Facebook Group</a></li>
					<li><a href="http://storify.com/lindybrandon/api-craft-detroit-day-one-in-the-books" class="blog">@lindybrandon's Recap
					</a></li>
					<li><a href="https://github.com/apicraft">GitHub</a><li>
					<li><a href="https://twitter.com/search?q=%23apicraft&src=hash">#apicraft</a><li>
					<li><a href="/conferences/detroit2013/">Detroit 2013</a><li>
					
				</ul>	
			</div><!-- /#footer -->	
	</body>
	
	<script type="text/javascript"> window.config = { proxyUrl: "<%= proxyUrl %>" }; </script><!-- import environment vars from node -->


	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script><!-- duh -->


	<script type="text/javascript" src="js/functions.js"></script><!-- giterdone -->

	<script>
	  
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-39685519-1', 'apicraft.org');
	  ga('send', 'pageview');
	  
	</script>

</html>