<% include header %>
		<div id="content">
			<div id="actions">
				<h3>Recap from Detroit 2013</h3>
				<ul>
					<li><a href="https://github.com/apicraft/detroit2013/wiki/_pages" class="github">Read the Session Notes</a></li>
					<li><a href="https://groups.google.com/forum/#!forum/api-craft" class="google_groups">Join the Google Group</a></li>
					<li><a href="https://www.facebook.com/groups/apicraft" class="facebook">Join the Facebook Group</a></li>
					<li><a href="http://storify.com/lindybrandon/api-craft-detroit-day-one-in-the-books" class="blog">@lindybrandon's Recap
					</a></li>

				</ul>
			</div>
			<div id="thank_you">
				<h3>Thank You!</h3>
<p>Version one of the API Craft Conference was, by most measures, a great success. We came together as a truly unique and diverse community and showed lots of love for all things API related. The energy at the conference was overwhelmingly positive, and the constant flow of people, ideas, and food (yep, food) fueled sessions during and after the "official" conference times. As organizers, we learned quite a bit about the power of Open Spaces and to trust that the people who were present were truly the right ones for the job. As participants, we each learned exciting and useful new information about topics we've been immersed in for years. The self organizing conference that all of us helped shape covered everything from how to convince marketing that APIs are a good idea, to implementing highly abstract self documenting hypermedia tools. </p>

<p>We'd like to extend a huge thank-you to all of those in the API community that were able to attend in Detroit this year. We're looking forward to more discussion, new faces, and much more chicken and waffles. </p>

<p>Make sure to <a href="https://github.com/apicraft/detroit2013/wiki/_pages">Read Up On the Proceedings</a>, <a href="https://groups.google.com/forum/#!forum/api-craft">Join the Google Group</a>, <a href="https://www.facebook.com/groups/apicraft">Join the Facebook Group</a>, <a href="http://storify.com/lindybrandon/api-craft-detroit-day-one-in-the-books">Read @lindybrandon's Recap</a> and <a href="http://apicraft2014.eventbrite.com">Sign up for next year!</a></p>

<p>Thank you for bringing your passion to bear, and making this conference a pivotal experience for all of us. </p>

<p>- Kevin, Alan, Brian & Matt</p>
			</div>
			
			
		</div>

<% include footer %>
